.main-container {
  align-items: center;
  background-color: rgb(57, 57, 57);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
}

.title {
  color: white;
  margin-top: 5%;
}

.product-table {
  color: white;
  font-size: 20px;
  margin-top: 2%;
  text-align: center;
  width: 60%
}

.product-table th {
  border: 2px solid white;
}

.product-table td {
  border: 1px solid white;
}

.form-container {
  align-items: center;
  background-color: rgb(255, 105, 105);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
}

.input {
  border: 1px black solid;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  margin-top: 2%;
  padding: 5px;
  width: 60%;
}

.button-update {
  background-color: rgb(16, 155, 255);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  margin-top: 2%;
  width: 30%;
}

.button-update:hover {
  background-color: rgb(0, 130, 223);
  cursor: pointer;
}
