.main-container {
  align-items: center;
  background-color: rgb(57, 57, 57);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.form-container {
  align-items: center;
  background-color: rgb(68, 126, 227);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
}

.form-title {
  margin-top: 5%;
}

.input {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin-top: 3%;
  padding: 5px;
  width: 50%;
}

.button {
  background-color: rgb(255, 105, 105);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin-top: 3%;
  width: 50%;
}

.button:hover {
  background-color: rgb(151, 54, 54);
  cursor: pointer;
}
